# ==========================================
# Mode Selection
# ==========================================
# True: Physical DOFBot Hardware, False: PyBullet Simulation
DOFBOT=False

# ==========================================
# Service URLs
# ==========================================
VISION_URL=http://localhost:8001
BOT_URL=http://localhost:5000

# ==========================================
# LLM Configurations
# ==========================================
LLM_MODEL=gpt-4o-mini
LLM_BASE_URL=
API_KEY=your_openai_api_key_here